* {
  color: #343a40;
  background-color: #f8fafc;
  font-family: "Lato", sans-serif;
  margin: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

h1 {
  font-size: 2em;
  text-align: center;
  padding: 0.5em;
  text-transform: uppercase;
}

.h1--link {
  text-decoration: none;
}

.nav--links {
  display: flex;
  gap: 2em;
  margin-left: auto;
  position: relative;
  right: 5em;
}

.nav--link:link,
:visited {
  font-size: 1.5em;
  text-decoration: none;
  gap: 2em;
}

.nav--link--deal {
  color: #76ba99;
}

.nav--link--deal:hover {
  color: #5e957a;
}

.nav--link--deal:active {
  color: #5e957a;
}

.user--icon {
  display: flex;
  font-size: 2em;
  gap: 5em;
}

.border {
  border: solid;
  height: 1.5em;
  width: 98%;
  background: #343a40;
  border-radius: 0.3em;
  margin-bottom: 0.5em;
  margin: auto;
  margin-bottom: 0.4em;
}

.main {
  position: relative;
  max-width: 100%;
}

.main--container {
  max-width: 80%;
  height: 50vh;
  margin: auto;
}

.front-page-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 50vh;
}

.text {
  text-align: center;
  position: absolute;
  padding: 0.25em 0 0.25em 0;
  font-size: 4em;
  font-stretch: expanded;
  width: 80vw;
  top: 50%;
  right: 50%;
  background: none;
  color: #343a40;
  transform: translate(50.52%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  background-size: auto;
  resize: none;
}

.general--information {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 3em;
  height: 27vh;
  gap: 10em;
  align-content: space-between;
  border-bottom: solid #343a40 0.2em;
  border-radius: 200px;
}

.general--information--img {
  width: 20em;
  display: inline-block;
  padding-left: 2em;
  animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.general--information--heading {
  max-width: 55%;
}

.general--information--heading--text {
  font-family: "Tangerine", cursive;
  font-size: 4em;
}

.front--intro {
  display: block;
}

.intro {
  font-size: 8em;
  text-align: center;
}

.front--info {
  display: flex;
  flex-wrap: wrap;
  gap: 20em;
  justify-content: center;
  border-bottom: #343a40 solid 0.2em;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  height: 28em;
}

.front--info--el {
}

.ph-mountains {
  font-size: 5em;
  color: #5e957a;
}
