* {
  color: #343a40;
  background-color: #f8fafc;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.navbar {
  position: sticky;
  top: 0;
  transform: scaleY();
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: 0.4s;
  max-width: 100%;
  z-index: 99;
  height: 5.5em;
  padding: 10px 0;
  border-bottom: 3px solid #343a40;
  border-width: thin;
}

h1 {
  font-size: 2em;
  text-align: center;
  padding: 0.5em;
  text-transform: uppercase;
}

.h1--link {
  text-decoration: none;
}

.nav--links {
  display: flex;
  gap: 2em;
  margin-left: auto;
  position: relative;
  right: 5em;
}

.nav--link:link,
:visited {
  font-size: 1.5em;
  text-decoration: none;
  gap: 2em;
}

.nav--link--deal {
  color: #76ba99;
}

.nav--link--deal:hover {
  color: #5e957a;
}

.nav--link--deal:active {
  color: #5e957a;
}

.heading {
  display: flex;
  padding: 0;
  max-width: 100%;
}

.heading-title {
  text-align: center;
  padding: 10px;
}

.heading-list {
  list-style: none;
}

.heading--img {
  padding: 2em 1em;
  display: flex;
  max-width: 100%;
}

.heading--img--list {
  width: 360px;
  list-style: none;
  height: 200px;
  padding: 0 2%;
}
