* {
  color: #343a40;
  background-color: #f8fafc;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

h1 {
  font-size: 2em;
  text-align: center;
  padding: 0.5em;
  text-transform: uppercase;
}

.h1--link {
  text-decoration: none;
}

.nav--links {
  display: flex;
  gap: 2em;
  margin-left: auto;
  position: relative;
  right: 5em;
}

.nav--link:link,
:visited {
  font-size: 1.5em;
  text-decoration: none;
  gap: 2em;
}

.nav--link--deal {
  color: #76ba99;
}

.nav--link--deal:hover {
  color: #5e957a;
}

.nav--link--deal:active {
  color: #5e957a;
}

.user--icon {
  display: flex;
  font-size: 2em;
  gap: 5em;
}

.border {
  border: solid;
  height: 1.5em;
  width: 98%;
  background: #343a40;
  border-radius: 0.3em;
  margin-bottom: 0.5em;
  margin: auto;
  margin-bottom: 0.4em;
}

.error {
  display: none;
  width: 80vw;
  height: 72px;
  position: absolute;
  transform: translate(25%);
  margin-left: -30px;
  top: 5em;
  background: none;
  font-size: 2em;
  font-weight: 900;
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
  background: none;
  cursor: pointer;
}

.arrows path {
  stroke: #76ba99;
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

.vitosha--parallax {
  background-image: url("../../img/attractions--page/vitosha--parallax.jpg");
  height: 42vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vitosha--parallax--text {
  text-align: center;
  position: absolute;
  padding: 0.25em 0 0.25em 0;
  font-size: 4em;
  width: 98.9vw;
  top: 50%;
  right: 50%;
  transform: translate(50%, -120%);
  background-color: rgba(255, 255, 255, 0.2);
  resize: none;
  text-transform: uppercase;
}

.stara-planina--parallax {
  background-image: url("../../img/attractions--page/stara-planina--parallax.jpg");
}

.rila--parallax {
  background-image: url("../../img/attractions--page/rila--parallax.jpg");
}

.pirin--parallax {
  background-image: url("../../img/attractions--page/pirin--parallax.jpg");
}

.stara-planina--parallax,
.rila--parallax,
.pirin--parallax {
  height: 50vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stara-planina--parallax--text,
.rila--parallax--text,
.pirin--parallax--text {
  text-align: center;
  position: absolute;
  padding: 0.25em 0 0.25em 0;
  font-size: 4em;
  width: 98.9vw;
  background-color: rgba(255, 255, 255, 0.2);
  resize: none;
  transform: translate(0%, 120%);
  text-transform: uppercase;
}

.description {
  width: 95vw;
  margin: 0.4em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.5;
  font-size: 1.2em;
  word-spacing: 2px;
}

.description--firstWord {
  color: #76ba99;
  font-weight: bold;
  font-size: 2em;
  float: left;
  line-height: 40px;
  padding-right: 6px;
  margin-top: 5px;
  text-transform: uppercase;
  position: relative;
  left: 5px;
}

.locationWrapper {
  display: grid;
  width: 95vw;
  height: 20em;
  margin: auto;
  grid-template-columns: 45% 45%;
  gap: 5em;
  padding: 1em;
  justify-content: end;
  align-items: center;
  justify-items: center;
  line-height: 1.8;
  letter-spacing: 0.2em;
  border-top: 0.3em solid #76ba99;
  margin-bottom: 5em;
}

.locationName {
  display: flex;
  color: #76ba99;
  margin-top: 2em;
  font-size: 2em;
  text-align: center;
  border-right: 0.2em solid;
  border-left: 0.2em solid;
  border-top: 0.2em solid;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 4.6px;
}

.locationPhoto--right {
  width: 500px;
  height: 350px;
  grid-column: 2 / 3;
  grid-row: 1 / 1;
}

.locationPhoto--left {
  width: 500px;
  height: 350px;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.locationDescription {
}

.locationDescription--right::first-letter,
.locationDescription--left::first-letter {
  color: #76ba99;
  font-weight: bold;
  font-size: 3.5em;
  float: left;
  line-height: 60px;
  padding-right: 8px;
  margin-top: -3px;
}
